In [1]:
#List
fruits=[]
fruits

[]

In [3]:
fruits.append("apple")
fruits

['apple']

In [4]:
fruits.extend(["banana", "cherry"])
fruits

['apple', 'banana', 'cherry']

In [5]:
fruits.remove("banana")
fruits

['apple', 'cherry']

In [6]:
fruits.pop()
fruits

['apple']

In [7]:
fruits.reverse()
fruits

['apple']

In [11]:
fruits.insert(1,"mango")
fruits

['apple', 'mango']

In [15]:
fruits[2:4]
fruits

['apple', 'mango']

In [17]:
list1=[1,2,3,4,5]
list1[0]

1

In [19]:
list1[4]

5

In [21]:
list1[2]=10
list1

[1, 2, 10, 4, 5]

In [23]:
fruits=["apple", "mango", "cherry"]
if (fruits[0] == "grape"):
    print("Grape exists in the fruits list")
elif (fruits[1] == "grape"):
    print("Grape exists in the fruits list")
elif (fruits[2] == "grape"):
    print("Grape exists in the fruits list")
else:
    print("Grape not exists in the fruits list")

Grape not exists in the fruits list

In [25]:
fruits=["apple", "mango", "cherry"]
length = len(fruits)
for index in range(length):
    print(fruits[index])

apple
mango
cherry

In [27]:
list2=[1,2,3,4,5]
length = len(list2)
length

5

In [29]:
#Tuple
numbers = (1, 2, 3, 2, 4, 2)
numbers

(1, 2, 3, 2, 4, 2)

In [31]:
count=numbers.count(2)
count

3

In [33]:
index=numbers.index(4)
index

4

In [35]:
#First convert tuple into list 
numbers = list(numbers)
#Append item into list
numbers.append(5)
#Convert list into tuple 
numbers = tuple(numbers)
numbers

(1, 2, 3, 2, 4, 2, 5)

In [37]:
strings = ("red", "green", "blue")
strings

('red', 'green', 'blue')

In [43]:
string = ("red", "green", "blue")
string[0] = "white"
string

TypeError: 'tuple' object does not support item assignment

In [45]:
strings = ("red", "green", "blue")
strings = list(strings)
strings.append("white")
strings = tuple(strings)
strings

('red', 'green', 'blue', 'white')

In [47]:
#Set
my_set=set()
my_set

set()

In [51]:
my_set.add("apple")
my_set

{'apple'}

In [53]:
my_set.add("banana")
my_set

{'apple', 'banana'}

In [55]:
set2=[1,2,3,4,5,1,2,3,4,5,6]
set2=set(set2)
set2

{1, 2, 3, 4, 5, 6}

In [57]:
set1=[1,2,3]
set1=set(set1)
set2=[3,4,5]
set2=set(set2)
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5}

In [59]:
intersection_set = set1 & set2
intersection_set

{3}

In [67]:
set2=[1,2,3,4,5,6]
set2=set(set2)
set2.discard(1)
set2

{2, 3, 4, 5, 6}

In [85]:
set2=[1,2,3,4,5,6]
set2=set(set2)
for i in set2:
    print(i)

1
2
3
4
5
6

In [87]:
#Dictionary
my_dict={"name":"Ali"}
my_dict

{'name': 'Ali'}

In [89]:
my_dict["name"]

'Ali'

In [91]:
my_dict["name"]="Ahmad"
my_dict

{'name': 'Ahmad'}

In [93]:
student={"name":"Sara", "grade":"A", "age":17}
student

{'name': 'Sara', 'grade': 'A', 'age': 17}

In [101]:
print(student.keys())

dict_keys(['name', 'grade', 'age'])

In [103]:
print(student.values())

dict_values(['Sara', 'A', 17])

In [105]:
student={"name":"Sara", "grade":"A", "age":17}
to_check = "grade"
if to_check in student:
    print("Grade is exists in the dictionary")
else:
    print("Grade is exists in the dictionary")

Grade is exists in the dictionary

In [115]:
student={"name":"Sara", "grade":"A", "age":17}

for key, value in student.items():
    print(key, ":", value)

name : Sara
grade : A
age : 17

In [117]:
#If-Elif-Else
list3=[1,2,10,4,5]
if (list3[0] == 10):
    print("Found 10")
elif (list3[1] == 10):
    print("Found 10")
elif (list3[2] == 10):
    print("Found 10")
elif (list3[3] == 10):
    print("Found 10")
elif (list3[4] == 10):
    print("Found 10")
else:
    print("10 not found")

Found 10

In [121]:
number = 26
if number > 20:
    print("Large number")
else:
    print("Small number")

Large number

In [123]:
#Simple Expression
a = 5
b = 10
print(a+b)
print(a*b)
print(b-a)
print(b/a)

15
50
5
2.0

In [125]:
a = 5
b = 10
result = (a+b)*2
print(result)

30

In [129]:
age = int(input())
if (age >= 18):
    print("You are an adult")
else:
    print("You are minor")

 20

You are an adult

In [135]:
#More Expression Questions
#Area of a rectangle
width = 5
height = 10
area = width*height
print(area)

50

In [137]:
#Celsius to farenheit
C = 25
farenheit = (C*(9/5)) + 32
print(farenheit)

77.0

In [139]:
#Simple interest formula
P = 1000
R = 5
T = 2
SI = (P*R*T)/100
print(SI)

100.0

In [143]:
#Range Function
for i in range(5):
    print(i)

0
1
2
3
4

In [145]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [147]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [149]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [151]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [153]:
list1=[]
for i in range(3, 8):
    list1.append(i)
print(list1)

[3, 4, 5, 6, 7]

In [157]:
for i in range(1, 5):
    squares = i**2
    print(squares)

1
4
9
16